@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container {
  font-family: 'Nunito', sans-serif;
}

.header__bg {
  position: absolute;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 26%;
  background-image: linear-gradient(#F2B291, #ff6126);
  transform: skewY(-6deg);
  transform-origin: top left;
  @media (max-width: 455px) {
    height: 23%;
  }
  @media (max-width: 370px) {
    height: 30%;
  }
}

.title {
  position: relative;
  color: white;
  font-size: 3.7em;
  font-family: 'Indie flower', sans-serif;
  @media (max-width: 455px) {
    font-size: 3em;
    margin-bottom: -1em;
  }
}

.subtitle {
  font-size: 25px;
  margin-bottom: 1em;
  margin-top: 1em;
  @media (max-width: 455px) {
    height: 25%;
    margin-top: 4em;
  }
}

.paragraph {
  font-size: 1.5em;
  text-align: right;
  position: relative; 
  color: white;
  font-family: 'Indie flower', sans-serif;
  @media (max-width: 455px) {
    font-size: 1.2em;
    margin-top: 1em;
  }
}

.loader {
  margin-bottom: 2em;
}

.main {
  position: relative;
  padding: 2.5rem 0;
  flex: 1;
  text-align: center;
}


.form {
 text-align: center;
}

.listItem {
  background-color: white;
  opacity: 0.5;
  width: 50%;
  margin: 0.3em auto;
  cursor: pointer;
  &:hover {
    background-color: #ff6126;
    opacity: 0.5;
  }
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:center;
}

.headingCard {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
}

.subHeadingCard {
  font-size: 1.5em;
  font-weight: bold;
}

.box {
position: relative;
background: rgba( 242, 178, 145, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 90%;
margin: auto;
}

.icon {
  display: block;
  margin: auto;
}

.error {
  background: rgba( 242, 178, 145, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.0px );
  -webkit-backdrop-filter: blur( 8.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  font-size: 1.3em;
  color: #fff;
  width: 35%;
  margin : 1px auto;
  border-radius: 10px;
}