$color-1: #ECD078;
$color-2: #ff6126;
$color-3: #542437;
$color-4: #53777A;

.loader {
	
	&:before,
	&:after {
		position: absolute;
		top: 22%;
		left: 50%;
    opacity: 0.3;
		border-radius: 50%;
		border-style: solid;
		border-top-color: $color-1;
		border-right-color: $color-2;
		border-bottom-color: $color-3;
		border-left-color: $color-4;
		
		content: '';

		transform: translate(-50%, -50%);
		animation: rotate 1.5s  infinite ease-in-out;
	}
	
	&:before { border-width: 7vh; }

	&:after {
		width: 19vh;
		height: 19vh;
		border-width: 2.5vh;
		animation-direction: reverse;
	}
}


@keyframes rotate {
	 0% { transform: translate(-50%, -50%) rotate(0); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}